* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Pricing-container
{
    width: 100%;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.first, .second
{
    width: 18rem;
    height: 68vh;
    box-shadow: 0 0 1rem .1rem rgba(128, 128, 128, 0.236);

    padding: 1rem 0 0 1rem;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.third
{
    width: 18rem;
    height: 68vh;
    box-shadow: 0 0 1rem .1rem rgba(128, 128, 128, 0.236);

    padding: 1rem 0 0 1rem;
    border-radius: 0.6rem;
    background-color: rgba(6, 6, 64, 0.847);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.name
{
    font-size: 1.5rem;
}
.dollar
{
    display: flex;
    justify-content: start;
    align-items: end;
}
.tickk
{
    display: flex;
    justify-content: start;
    align-items: center;
}
.main
{
    width: 10rem;
   height: 2rem;
    /* margin-left: 2rem; */
    background-color: rgba(12, 12, 77, 0.779);
    color: white;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}
.main3
{
    width: 10rem;
    height: 2rem;
   
    /* margin-left: 2rem; */
    outline: none;
    border: none;
    border-radius: 0.3rem;
}
.feat3
{
    width: 10rem;
   height: 2rem;
    /* margin-left: 2rem; */
    outline: none;
    border: none;
    border-radius: 0.3rem;
}
.feat
{
    width: 10rem;
    padding: 0.8rem 2rem;
    /* margin-left: 2rem; */
    background-color: rgba(12, 12, 77, 0.779);
    color: white;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}


.icon{
    color:skyblue;
}